@model TypingBook.Models.Book

@Html.AntiForgeryToken()

<h1>Confirmation</h1>

<p>Are you sure you whant to delete <b>@Model.Title - @Model.Authors</b>?</p>




@*@Html.ActionLink("Delete", "DeleteConfirmed", new { id = Model.ID })*@
@*@Html.ActionLink("Cancel", "Index", "Book")*@


<form method="post">
    <input type="hidden" asp-for="@Model.ID" />
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <a asp-page="./Index">Back to List</a>
</form>